@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gamja Flower', cursive;
  }

body{
    background-image: url('startbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.input-contatiner{
    text-align: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
}

#name{
    border: 5px;
    padding: 10px;
    height: 30px;

    background-color: white;
    border-left:white;
    border-right:white;
    border-top:white;
    border-bottom:skyblue 5px solid;
    
    margin-top:white;
    margin-bottom:white;
    margin-left:white;
    margin-right:white;
}