@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
  margin: 0%;
  padding: 0%;
  font-family: 'Gamja Flower', cursive;
}

body {
  background-color: rgb(230,255,255);
  text-align: center;
}

.container {
  position: relative;
  width: 1280px;
  margin: auto;
  margin-top: 50px;
}

.grid {
  width: 1280px;
  height: 720px;
  display: grid;
  grid-template-columns: 320px 640px 320px;
  grid-template-rows: 80px 480px 80px 80px;
}

.timediv {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.timediv-item, .usernamediv-item, .moneydiv-item, .resultdiv-item{
  width: 300px;
  height: 60px;
  margin: 8px 8px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
  box-shadow: 3px 3px gray;
  line-height: 60px;
  font-size: 25px;
}

.chartdiv {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.chartdiv-item {
  background-color: white;
  margin: 5px;
  border: 1px solid rgb(84,130,53);
  box-shadow: 3px 3px gray;
}

.chartdiv-info {
  display: flex;
  background-color: rgb(169,209,142);
  height: 60px;
  border-bottom: 3px solid rgb(84,130,53);
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
}

.chartdiv-info-1 {
  width: 180px;
  text-align: left;
  padding-left: 20px;
}

.chartdiv-info-2 {
  width: 130px;
  text-align: right;
  padding-right: 20px;
}

.chartdiv-info-3 {
  width: 130px;
  text-align: right;
  padding-right: 20px;
}

.chartdiv-info-4 {
  width: 120px;
  text-align: right;
  padding-right: 40px;
}

.chartdiv-chart {
  height: 540px;
}

.usernamediv {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.leftdiv {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.leftdiv-item {
  width: 300px;
  height: 620px;
  margin: 8px 8px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
  box-shadow: 3px 3px gray;
  font-size: 20px;
}

#stock-table {
  width: 300px;
  border-collapse: collapse;
}

#stock-table thead th {
  height: 60px;
  background-color: rgb(169,209,142);
  border: 1px solid rgb(84,130,53);
}

#stock-table thead th:nth-child(1) {
  width: 40%;
}

#stock-table thead th:nth-child(2) {
  width: 30%;
}

#stock-table thead th:nth-child(3) {
  width: 30%;
}

#stock-table tbody td {
  height: 60px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
}

#stock-table tbody tr.stock:hover td{
  background-color: rgb(197,224,180);
}

.rightdiv {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.rightdiv-item {
  width: 300px;
  height: 460px;
  margin: 8px 8px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
  box-shadow: 3px 3px gray;
  font-size: 20px;
}

#user-table {
  width: 300px;
  border-collapse: collapse;
}

#user-table thead th {
  height: 60px;
  background-color: rgb(169,209,142);
  border: 1px solid rgb(84,130,53);
}

#user-table thead th:nth-child(1) {
  width: 40%;
}

#user-table thead th:nth-child(2) {
  width: 24%;
}

#user-table thead th:nth-child(3) {
  width: 12%;
}

#user-table thead th:nth-child(4) {
  width: 24%;
}

#user-table tbody td {
  height: 60px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
}

#user-table tbody tr.stock:hover td{
  background-color: rgb(197,224,180);
}

.middledowndiv {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  display: flex;
}

.middledowndiv-item {
  display: flex;
  width: 300px;
  height: 60px;
  margin: 70px 8px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
  box-shadow: 3px 3px gray;
  font-size: 25px;
  line-height: 60px;
}

.middledonwdiv-item-1 {
  width: 120px;
}

.middledonwdiv-item-2 {
  width: 40px;
}

.middledonwdiv-item-3 {
  width: 80px;
}

.middledonwdiv-item-4 {
  width: 40px;
}

.inputbox {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 25px;
}

.minus, .plus {
  width: 36px;
  height: 36px;
  background-color: white;
  border: 1px solid rgb(84,130,53);
  font-size: 25px;
}

.minus:hover, .plus:hover {
  background-color: rgb(169,209,142);
}

.buy, .sell{
  margin: 72px 8px;
  width: 145px;
  height: 60px;
  box-shadow: 3px 3px gray;
  font-size: 25px;
  line-height: 60px;
}

.buy {
  background-color: rgb(41,167,116);
  border: 1px solid rgb(31,127,88);
  color: white;
}

.sell {
  background-color: rgb(206,58,58);
  border: 1px solid rgb(166,42,42);
  color: white;
}

.moneydiv {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.resultdiv {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

